@model TicketManagementProject.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Event Details</h2>
<hr />

<div>
    <div style="display: flex; align-content: center;">

        <div style="width: 40%; border-radius: 3em; overflow:hidden;">
            <img src="@Model.EventImg" style="width: 100%;"/>
        </div>
        
        <div style="margin-left: 5em; width: 40%;">

            <h1 style="font-weight: 900; ">@Model.Name</h1>
            <p style="word-wrap: break-word; ">@Model.Description</p>

            <b style="color: mediumseagreen; margin-right: 1em;">

                @if (Model.TicketPrice == 0)
                {
                    <b>Free</b>
                }
                else
                {
                    <b>$@Model.TicketPrice</b>
                }

            </b>
            @Html.ActionLink("Book Ticket", "BookTicket", new { eventId = Model.Id, userId = Session["id"] }, new { @class = "btn btn-success eventBtn" })



            <h3 style="font-weight: 700; margin-top: 2em;">Details</h3>
            <table width="100%">
                <tr>
                    <td>Date:</td>
                    <td>@Model.EventDate</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>@Model.Address</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>@Model.City</td>
                </tr>
                <tr>
                    <td>Venue Capacity:</td>
                    <td>@Model.VenueCapacity</td>
                </tr>
            </table>

        </div>

    </div>

    
</div>

<br />
<br />

<p>
    @if (Session["userType"].ToString() != "General")
    {
    <span>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    </span>
    }
    else
    {
    }
    @Html.ActionLink("Back to List", "Index")
</p>
