@model IEnumerable<TicketManagementProject.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>List of Users</h2>

<form action="Users/Index" method="POST" style="margin-bottom: 2em;">
    <input type="text" name="userName" style="border-radius: 0.5em; border: 1px solid #ccc; padding: 0.7em; width: 100%;" />
    <input type="submit" value="Search Username" style="border: none; background: #24a0ed; color: white; padding: 0.7em 2em; border-radius: 0.5em; margin-left: 1em;" />
</form>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

    <tr style="padding: 1em; background: aliceblue; color: white; border-radius: 3em;">
        <td>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
